@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* Base styles */
body {
    font-family: "Saira", serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.5em 0;
}

p {
    margin: 0;
    
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    
}

/* Header */
header {
    background-image: url('./images/living-room.png');
    background-size: cover;
    background-position: center;
    
}

header h1 {
}

.flex{
    display: flex;

}
/* Navigation */
nav {
    color: #fff;
    justify-content: space-between;
    
}
nav .lgo{
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

ul {
    list-style: none;
    gap: 64px;
}


ul li a {
    color: #fff;    
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;   
}

nav ul li a.active{
    font-weight: 600;

}

/* hero */
.hero {
    margin-top: 120px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}
.hero h1{
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    line-height: 76px;
    text-align: center;
}
.hero p{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-align: center;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 65px;

}
.hero button{
    backdrop-filter: blur(30px);
    background-color: #E2E2E266;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-align: center;
    border-radius: 10px;
    padding: 16px 80px;
    cursor: pointer;
    
}
.shadow{
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 25.71%, #FFFFFF 38.55%);
    height: 110px;
    margin-top: -70px;
    width: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #286F6C;
    color: #000;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    padding: 38px 100px;
    margin-top: -100px;
    margin-bottom: 100px;
}
..item-info h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.item-info {
    width: 90px;
    margin: auto;
    
}
..item-info p{
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 1%;
    text-align: center;
}
.grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.grid-item span {
    margin-left: auto;
    display: inline-block;
    height: 100px;
    width: 1px;
    background-color: #fff;
}

/* main */
.p-80{
    padding: 80px 0;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.main-content img{
    width: 100%;
    height: 100%;
}

.main-content h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}
.main-content img{
    width: 100%;
}

.main-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin: 14px 0 35px 0;
}

.main-content .main-div{
    display: flex;
    gap: 10px;

}
.main-content .main-div img{
    width: 24px;
    height: 24px;
    margin-top: 8px;

}

.products{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 70px
    
}

.products-info{
    width: 250px;
}

.products-info h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}
.products-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 89px;
    margin-bottom: 48px;
}
.products-info a{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1%;
    cursor: pointer;
}
.product-info-content{
    border-radius: 5px;
    position: relative;
}
.product-info-content img{
    border-radius: 5px;
    width: 256px;
    height: 400px;
}
.product-info-content h5{
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 110px;
}

.product{
    gap: 20px;
    overflow: auto;

}
button {
    all: unset;
    cursor: pointer;
}

.peoples{
    position: relative;
    gap: 20px;
}
.slides{
    position: absolute;
    bottom: 50px;
}
.peoples-img img{
    width: 100%;
    height: 100%;
}

.product::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.slides i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.peoples-info h6{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 20px;
}

.peoples-info p{
    padding-bottom: 20px;
}

.peoples-info-content {
    padding-bottom: 20px;

}
.slides i:hover{
    background-color: #286F6C;
    color: #fff;  
}


.contact-section{
    color: #fff;
    background-image: url('./images/lamp.png');
    background-size: cover;
    background-position: center;
    
}
.contact{
    justify-content: end;
}
.contact h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    width: 400px;
}
.contact p{
    margin-bottom: 40px;
}

.contact-info{
    max-width: 600px;
}
.contact-info input{
    padding: 18px;
    width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.contact-info button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #23262F;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1%;
    cursor: pointer;
}


/* Footer */
footer {
    background-color: #23262F;
    color: #fff;
}
footer ul{
    display: flex;
    gap: 20px;
}

footer hr{
    width: 100%;
    border: 1px solid #fff;

}
.footz{
    justify-content: space-between;

}
.footer-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
}

